@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.form-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.carve-card-body img {
  padding: 0;
}

form {
  padding: 2rem;
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}